<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') -%>
        <div class="container py-4">
            <div class="row justify-content-center px-2">
                <div class="col-12 col-md-6 text-center">
                    <h1 class="text-light">Welcome!</h1>
                    <p class="text-light">
                        This is a simple e-commerce web application built using Node.js in which 
                         Admin can add products and categories.And Users can able to see that data 
                        but can't do any other operations.In this application only CRUD functionality is there 
                        by allowing admin and user roles to perform their work.
                    </p>
                </div>
            </div>
        </div>
</body>

</html>